.values_main_top {
  padding: 2rem 0;
  padding-top: 3rem;
  background-color: #f5f5f5;
}
.values_head_main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.values_main {
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 3rem;
  padding: 1rem;
  margin: 0 auto;
  max-width: 1140px;
  row-gap: 0px;
}

.values_boxes {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;
  transition: 0.2s all ease;
}
.values_boxes:hover {
  background: white;
  border-radius: 20px;
}
.heading_values {
  font-weight: 800;
}
.values_para {
  font-size: small;
  color: var(--color-gray);
  text-align: center;
  word-spacing: 3px;
  line-height: 1.6;
}

.values_boxes {
  position: relative;
}

.values_boxes .values_img_inner {
  height: 60px;
  transition: filter 0.3s ease;
}

.values_boxes:hover .values_img_inner:hover {
  filter: grayscale(100%);
}

@media screen and (max-width:400px) {
  .values_head_main{
    font-size: 14px;
  }
}