.HomeHero_main {
  background-size: cover;
  height: 85vh;
  margin-top: 5rem;
}
.title_main_hero {
  /* margin-right: 2rem;
  padding-right: 4rem; */
  width: 65%;
  gap: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .title_main_hero {
    width: 100%;
    padding: 2rem;
  }
}
@media screen and (max-width: 450px) {
  .HomeHero_main {
    height: 100%;
  }
}
@media screen and (max-width: 400px) {
  .title_main_hero {
    padding: 2rem;
  }
}
